<div class="w-75 m-auto py-5">
    <h1 class="pt-3 text-center">CONTACT ME</h1>
    <div class="divider-custom divider-light d-flex justify-content-center">
      <div class="line m-3"><i class="fa-solid fa-minus fa-2xl " style="color: RGB(33, 37, 41);"></i></div>
      <div class="divider-custom-icon m-3"><i class="fas fa-star fa-2xl" style="color:RGB(33, 37, 41);"></i></div>
      <div class="line m-3 "><i class="fa-solid fa-minus fa-2xl" style="color:RGB(33, 37, 41);"></i></div>
   </div> 
   <div class="inputs w-75 m-auto py-5">
   <input class="form-control my-3 " type="text" placeholder="Name">
   <input class="form-control my-3 " type="email"placeholder="Email Address">
   <input class="form-control my-3 " type="number"placeholder="Phone Number">
   <textarea class="form-control my-3 " rows="4"cols="50" placeholder="Message"></textarea>
   <button class="btn btn-success px-5 py-3 ">send</button>
   </div>
</div>
<div class="footer">
    <div class="row justify-content-center w-100">
      <div class="col-md-3 my-5">
            <h2 class="py-3">LOCATION</h2>
            <h6>2215 John Daniel Drive Clark, MO 65243</h6>
         </div>
         <div class="col-md-3 my-5 text-center">
            <h2 class="py-3">AROUND THE WEB</h2>
             <div class="pt-2 ">
                <i class="fa-brands fa-facebook mx-2 border border-2 p-2 rounded-5" style="color: #ffffff;"></i>           
                <i class="fa-brands fa-twitter mx-2 border border-2 p-2 rounded-5"></i>
                <i class="fa-brands fa-linkedin mx-2 border border-2 p-2 rounded-5"></i>
                <i class="fa-solid fa-globe mx-2 border border-2 p-2 rounded-5"></i> 
             </div>
         </div>
         <div class="col-md-3 my-5">
            <h2 class="py-3">ABOUT FREELANCER</h2>
            <h6>Freelance is a free to use, MIT licensed Bootstrap theme created by Route</h6>
         </div>
         <div class="end-line">
             <h5 class="text-center">Copyright © Your Website 2021</h5>
            </div>
    </div>
    </div>