<div class="home  d-flex align-items-center justify-content-center">
   <div> 
       <img src="./assets/image/avataaars.svg"class="py-4" > 
       <h1 class="pt-3 ms-5">START ANGULAR</h1>
       <div class="divider-custom divider-light d-flex justify-content-center">
             <div class="line m-3"><i class="fa-solid fa-minus fa-2xl " style="color: #ffffff;"></i></div>
             <div class="divider-custom-icon m-3"><i class="fas fa-star fa-2xl" style="color: #ffffff;"></i></div>
             <div class="line m-3 "><i class="fa-solid fa-minus fa-2xl" style="color: #ffffff;"></i></div>
        </div> 
            <h4 class="my-3">Graphic Artist - Web Designer - Illustrator</h4>
    </div>
</div>
